<div class="header" id="header">
    <div class="row">
        <div class="col-xs-7">
            <h1 class="header__title">
                Application form
            </h1>
        </div>
        <div class="col-xs-3 text-right">
            <button class="header__button js-edit-button">
                Edit
            </button>
        </div>
    </div>
</div>