<script type="text/template" id="modal-template">
    <div class="modal-layout">
        <div class="modal-layout__dialog">
            <div class="modal-layout__header">
                <div class="modal-layout__title"><%= title %></div>
                <div class="modal-layout__controls"></div>
            </div>
            <div class="modal-layout__body js-modal-body"></div>
        </div>
    </div>
</script>