@import "../variables";

#app {
  max-width: $app-max-width;
  min-width: $app-min-width;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}
