@import "../variables";
@import "../mixins/header";

#app {
  max-width: $app-max-width;
  min-width: $app-min-width;
  margin: 0 auto;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  h1, h2, h3, h4, h5, h6 {
    @include header()
  }
}
