@import "../bootstrap";
@import "../material-icons";
@import "../variables";
@import "../mixins/shift-label";

.edit-form {
  @extend .form-horizontal;

  margin-bottom: 75px;
  position: relative;
}

.edit-form__title {
  font-size: 1.9em;
  padding: 0;
  margin: 85px 0 55px 0;
}

.edit-form__field {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: $form-group-margin-bottom;

  &.validation-error {

    .edit-form__label {
      color: $form-error-color;
    }

    .edit-form__input,
    .edit-form__input--textarea {
      color: $form-error-color;
      border-color: $form-error-color;
    }

  }
}

.edit-form__label {
  position: absolute;
  top: 10px;
  font-weight: 300;
  font-size: 1.1em;
  color: $form-input-color;
  transition: font 0.2s ease, top 0.2s ease;
  z-index: $form-input-label-z-index;
}

.edit-form__input {
  @extend .form-control;

  height: 40px;
  line-height: inherit;
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid lighten($form-input-color, 15%);
  background: transparent;
  font-weight: 300;
  padding: 9px 0;
  font-size: 1.1em;
  outline: none;
  position: relative;
  z-index: $form-input-z-index;

  &:focus {
    box-shadow: none;
    outline: none;
    border-color: $form-input-active-color;

    & ~ .edit-form__label {
      @include shift-label();
      color: darken($form-input-active-color, 6%);
    }
  }

  &:not([value=""]) {
    & ~ .edit-form__label {
      @include shift-label();
    }
  }
}

textarea.edit-form__input--textarea {
  @extend .edit-form__input;

  max-height: 350px;
  resize: none;
  overflow: hidden;
}

.edit-form__radio-container {
  &.validation-error {
    background-color: lighten($form-error-color, 25%);
  }
}

.edit-form__radio {
  font-weight: 300;
  font-size: 1.1em;
  color: $form-input-color;
  cursor: pointer;
  margin: 9px 0;

  &:before {
    @extend .material-icons;
    content: 'radio_button_unchecked';

    margin-right: 6px;
    font-weight: 100;
    font-size: 1.5em;
    vertical-align: bottom;
  }

  &.selected {
    color: #000000;

    &:before {
      content: 'check_circle';
      color: $form-input-active-color;
    }
  }
}

.edit-form__error {
  @extend .alert;
  @extend .alert-danger;

  position: absolute;
  left: 0;
  right: 0;
  border: none;
  display: none;
}
