@import "../variables";
@import "../bootstrap";
@import "../mixins/no-button-outline";

.header {
  padding: 92px 0 53px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 40px;
}

.header__title {
  font-weight: 100;
  font-size: 2.5em;
  letter-spacing: -1px;
  text-shadow: 0 0 0.005px $header-title-text-color;
  color: $header-title-text-color;
  margin: 0;
}

.header__button {
  @extend .btn;
  @extend .btn-default;
  @include no-button-outline();

  height: 36px;
  width: 130px;
  border-radius: 18px;
  color: #b3b3b3;
  font-size: 1em;
  letter-spacing: 1px;
}

@media screen and (max-width: 550px) {
  .header__button {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .header__title {
    font-size: 2.1em;
  }
}