// Backgrounds
$body-bg: #fafafb;
$card-bg: #ffffff;

// Fonts
$font-family-base: "Roboto";
$font-size-base: 14px;
$text-color: #4a4a4a;

// Layout
$grid-columns: 10;
$app-max-width: 1375px;
$app-min-width: 350px;

// Components
$header-title-text-color: #4a4a4a;
$card-border-color: #f1f1f2;
