// Backgrounds
$body-bg: #fafafb;

// Fonts
$font-family-base: "Roboto";
$font-size-base: 12px;

// Layout
$grid-columns: 10;
$app-max-width: 1375px;
$app-min-width: 350px;

// Components
$header-title-text-color: #4a4a4a;
